<p><%= alert %></p>

<h1>Login</h1>

<%= form_with url: sessions_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit 'Login' %>
  </div>
<% end %>